@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: url('../fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}